.blog-editor {
  max-width: var(--content-width);
  margin: 60px auto;

  .title {
    width: 100%;
    margin-bottom: 24px;
    padding: 24px;
    font-size: 32px;
    background: var(--paper-color);
  }

  .bottom-button-area {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;

    .button-area-left {
      display: flex;
      gap: 8px;
    }

    button {
      color: white;
      background: var(--main-accent-color);
      padding: 8px;
      border-radius: 10px;
    }
  }
}