@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  --main-base-color: rgb(17, 13, 15);
  --main-accent-color: rgb(154, 17, 23);
  --main-sub-color: rgb(145, 124, 80);
  --paper-color: #fdf5d8;
  --sp-bp: 767px;
  --tb-bp: 960px;
  --pc-bp: 961px;
  --content-width: 920px;
}


body {
  color: var(--main-base-color);
  background: var(--main-base-color);
}

.text-base {
  color: var(--main-base-color);
}

.text-accent {
  color: var(--main-accent-color);
}

.text-sub {
  color: var(--main-sub-color);
}

.bg-base {
  background: var(--main-base-color);
}

.bg-accent {
  background: var(--main-accent-color);
}

.bg-sub {
  background: var(--main-sub-color);
}

.bg-paper {
  background: var(--paper-color);
}

.bd-base {
  border-color: var(--main-base-color);
}

.bd-accent {
  border-color: var(--main-accent-color);
}

.bd-sub {
  border-color: var(--main-sub-color);
}