header {
  border-bottom: solid 10px var(--main-accent-color);
}

.simple-header {
  border-bottom: none;
}

#product-list-btn {
  border: solid 5px var(--main-accent-color);
}

h1 {
  font-weight: 200;
}