@use '@/app/stylesheets/config/mixin' as m;

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.slide-image-area {
  background: m.$main-sub-color;
  border-radius: 14px;
  overflow: hidden;

  img {
    height: 230px;
    margin: auto;
    object-fit: contain;
  }

  .loading-wrapper {
    height: 230px;
  }
}