.top-first-view {
  border-bottom: solid 10px var(--main-accent-color);

  .image-wrapper {
    background: white;

    .image-filter {
      background: rgba(17, 13, 15, 0.85)
    }
  }

  h1 {
    font-weight: 200;
  }
}

.simple-header {
  border-bottom: none;
}

#product-list-btn {
  border: solid 5px var(--main-accent-color);
}