@use '@/app/stylesheets/config/mixin' as m;

.product {
  gap: 50px;
  display: flex;
  margin: 64px 24px;

  @include m.under-lg {
    flex-direction: column;
  }

  .product-slide-area {
    width: 50%;

    @include m.under-lg {
      width: auto;
    }

    img {
      max-height: 680px;
      margin: auto;
    }
  }
}

.loading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  margin-top: 60px;

  h2 {
    color: m.$main-sub-color;
    font-size: 24px;
    margin-bottom: 24px;
  }

  &.products-section {
    width: 100%;
  }
}