@import url('/globals.css');

h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.blog-content {
  background: var(--paper-color);
  padding: 80px 24px;
  margin: 40px auto;
  max-width: var(--content-width);
  color: var(--main-base-color);
}