@use '@/app/stylesheets/config/mixin' as m;

.blog-detail {
  .blog-contents {
    background: m.$main-sub-color;
    padding: 80px 24px;
    margin: 40px auto;
    max-width: m.$content-width;
    color: m.$main-base-color;
    line-height: 150%;

    h1 {
      font-size: 32px;
      margin: 0 auto 32px;
      font-weight: 600;
      line-height: 1.5;
    }

    h2 {
      font-size: 24px;
      margin: 48px auto 24px;
      font-weight: 600;
    }

    h3 {
      font-size: 20px;
      margin: 32px auto 16px;
      font-weight: 600;
    }

    img {
      max-width: 70%;
      margin: 24px auto;
      max-height: 460px
    }

    p:empty::before {
      content: '';
      display: inline-block;
    }

    ul {
      padding-left: 24px;

      li {
        list-style: circle;
      }
    }
  }

  .recommend-section {
    margin: 36px 36px 72px;

    h2 {
      text-align: center;
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 200;
    }
  }

  .loading-wrapper {
    display: flex;
    justify-content: center;
  }
}