@import url('/globals.css');

section {
  margin: auto 24px;
}

h1 {
  font-size: 32px;
  margin: 32px auto;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

ul {
  max-width: var(--content-width);
  margin: 40px auto;

  .button-area {
    display: flex;
    justify-content: flex-end;

    .create-button {
      padding: 16px;
      margin: 8px;
      color: #fff;
      padding: 16px;
      border-radius: 8px;
    }
  }

  li {
    border: solid 1px var(--main-sub-color);
    padding: 12px;

    a {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .blog-created {
        text-align: right;
      }
    }
  }
}

.loading-wrapper {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}