@import url('/globals.css');

section {
  margin: auto 24px;
}

h1 {
  font-size: 32px;
  margin: 32px auto;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

ul {
  border: solid 1px var(--main-sub-color);
  max-width: var(--content-width);
  margin: 40px auto;

  li {
    border: solid 1px var(--main-sub-color);
    padding: 12px;

    a {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .blog-created {
        text-align: right;
      }
    }
  }
}